--
-- PostgreSQL database dump
--

\restrict QwM2opJ2wMWZlE6z69b5Yt7WQ4a519kzG6oMJEqObAyfd1sTao6JWaXkYd6tZCT

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


--
-- Name: application_status_enum; Type: TYPE; Schema: public; Owner: arhea_admin
--

CREATE TYPE public.application_status_enum AS ENUM (
    'new',
    'reviewed',
    'archived'
);


ALTER TYPE public.application_status_enum OWNER TO arhea_admin;

--
-- Name: contact_status_enum; Type: TYPE; Schema: public; Owner: arhea_admin
--

CREATE TYPE public.contact_status_enum AS ENUM (
    'new',
    'reviewed',
    'archived'
);


ALTER TYPE public.contact_status_enum OWNER TO arhea_admin;

--
-- Name: language_enum; Type: TYPE; Schema: public; Owner: arhea_admin
--

CREATE TYPE public.language_enum AS ENUM (
    'en',
    'ru',
    'tk'
);


ALTER TYPE public.language_enum OWNER TO arhea_admin;

--
-- Name: news_media_kind; Type: TYPE; Schema: public; Owner: arhea_admin
--

CREATE TYPE public.news_media_kind AS ENUM (
    'PHOTO',
    'DRAWING',
    'HERO'
);


ALTER TYPE public.news_media_kind OWNER TO arhea_admin;

--
-- Name: project_media_kind; Type: TYPE; Schema: public; Owner: arhea_admin
--

CREATE TYPE public.project_media_kind AS ENUM (
    'photo',
    'drawing',
    'hero'
);


ALTER TYPE public.project_media_kind OWNER TO arhea_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO arhea_admin;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.applications (
    id uuid NOT NULL,
    career_id uuid,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    email public.citext NOT NULL,
    phone_number character varying NOT NULL,
    message character varying,
    status public.application_status_enum DEFAULT 'new'::public.application_status_enum NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at_date date DEFAULT CURRENT_DATE NOT NULL
);


ALTER TABLE public.applications OWNER TO arhea_admin;

--
-- Name: career; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.career (
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_published boolean DEFAULT false NOT NULL,
    order_index integer DEFAULT 0 NOT NULL,
    CONSTRAINT ck_career_order_nonneg CHECK ((order_index >= 0))
);


ALTER TABLE public.career OWNER TO arhea_admin;

--
-- Name: career_i18n; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.career_i18n (
    career_id uuid NOT NULL,
    locale public.language_enum NOT NULL,
    title character varying NOT NULL,
    description text
);


ALTER TABLE public.career_i18n OWNER TO arhea_admin;

--
-- Name: contact_message; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.contact_message (
    id uuid NOT NULL,
    name character varying NOT NULL,
    email public.citext NOT NULL,
    message text NOT NULL,
    source character varying NOT NULL,
    status public.contact_status_enum DEFAULT 'new'::public.contact_status_enum NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    message_hash character varying(32) NOT NULL,
    created_at_date date DEFAULT CURRENT_DATE NOT NULL,
    processed_at timestamp with time zone,
    CONSTRAINT ck_contact_message_nonempty CHECK ((char_length(message) > 0)),
    CONSTRAINT ck_contact_name_nonempty CHECK ((char_length((name)::text) > 0))
);


ALTER TABLE public.contact_message OWNER TO arhea_admin;

--
-- Name: location; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.location (
    id uuid NOT NULL,
    country_code character varying(2) NOT NULL,
    city_slug character varying,
    order_index integer DEFAULT 0 NOT NULL,
    city_slug_lower character varying GENERATED ALWAYS AS (lower((city_slug)::text)) STORED NOT NULL,
    CONSTRAINT ck_location_city_slug CHECK (((city_slug IS NULL) OR ((city_slug)::text ~ '^[a-z0-9-]+$'::text))),
    CONSTRAINT ck_location_country_code_iso2 CHECK (((country_code)::text ~ '^[A-Z]{2}$'::text)),
    CONSTRAINT ck_location_order_nonneg CHECK ((order_index >= 0))
);


ALTER TABLE public.location OWNER TO arhea_admin;

--
-- Name: location_i18n; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.location_i18n (
    location_id uuid NOT NULL,
    locale public.language_enum NOT NULL,
    country character varying NOT NULL,
    city character varying NOT NULL,
    order_index integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.location_i18n OWNER TO arhea_admin;

--
-- Name: media_asset; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.media_asset (
    id uuid NOT NULL,
    file_path character varying NOT NULL,
    file_name character varying NOT NULL,
    mime_type character varying NOT NULL,
    checksum character varying(64),
    file_size integer NOT NULL,
    width integer,
    height integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    application_id uuid,
    CONSTRAINT ck_media_asset_dimensions_valid CHECK ((((width IS NULL) AND (height IS NULL)) OR ((width > 0) AND (height > 0)))),
    CONSTRAINT ck_media_asset_file_size_nonneg CHECK ((file_size >= 0))
);


ALTER TABLE public.media_asset OWNER TO arhea_admin;

--
-- Name: media_asset_i18n; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.media_asset_i18n (
    asset_id uuid NOT NULL,
    locale public.language_enum NOT NULL,
    alt_text character varying
);


ALTER TABLE public.media_asset_i18n OWNER TO arhea_admin;

--
-- Name: news; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.news (
    id uuid NOT NULL,
    slug character varying NOT NULL,
    preview text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_published boolean DEFAULT false NOT NULL,
    published_at timestamp with time zone
);


ALTER TABLE public.news OWNER TO arhea_admin;

--
-- Name: news_i18n; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.news_i18n (
    news_id uuid NOT NULL,
    locale public.language_enum NOT NULL,
    title character varying NOT NULL,
    short_description text NOT NULL,
    full_description text NOT NULL,
    search_vector tsvector NOT NULL
);


ALTER TABLE public.news_i18n OWNER TO arhea_admin;

--
-- Name: news_media; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.news_media (
    news_id uuid NOT NULL,
    media_id uuid NOT NULL,
    kind public.news_media_kind NOT NULL,
    order_index integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.news_media OWNER TO arhea_admin;

--
-- Name: person; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.person (
    id uuid NOT NULL,
    slug character varying NOT NULL,
    order_index integer DEFAULT 0 NOT NULL,
    is_published boolean DEFAULT true NOT NULL,
    photo_media_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_person_order_nonneg CHECK ((order_index >= 0)),
    CONSTRAINT ck_person_slug_format CHECK (((slug)::text ~ '^[a-z0-9-]+$'::text))
);


ALTER TABLE public.person OWNER TO arhea_admin;

--
-- Name: person_i18n; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.person_i18n (
    person_id uuid NOT NULL,
    locale public.language_enum NOT NULL,
    full_name character varying NOT NULL,
    position_title character varying,
    bio text
);


ALTER TABLE public.person_i18n OWNER TO arhea_admin;

--
-- Name: person_role; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.person_role (
    id uuid NOT NULL,
    key character varying NOT NULL,
    order_index integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.person_role OWNER TO arhea_admin;

--
-- Name: person_role_i18n; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.person_role_i18n (
    person_role_id uuid NOT NULL,
    locale public.language_enum NOT NULL,
    title character varying NOT NULL
);


ALTER TABLE public.person_role_i18n OWNER TO arhea_admin;

--
-- Name: project; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.project (
    id uuid NOT NULL,
    slug character varying NOT NULL,
    cover_media_id uuid,
    location_id uuid,
    type_id uuid,
    year integer,
    completion integer,
    area_m2 numeric(10,2),
    is_published boolean DEFAULT false NOT NULL,
    published_at timestamp with time zone,
    order_index integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_project_area_nonneg CHECK (((area_m2 IS NULL) OR (area_m2 >= (0)::numeric))),
    CONSTRAINT ck_project_completion_ge_year CHECK (((completion IS NULL) OR (year IS NULL) OR (completion >= year))),
    CONSTRAINT ck_project_completion_sane CHECK (((completion IS NULL) OR ((completion >= 1850) AND (completion <= ((EXTRACT(year FROM now()))::integer + 2))))),
    CONSTRAINT ck_project_published_has_date CHECK (((NOT is_published) OR (published_at IS NOT NULL))),
    CONSTRAINT ck_project_slug_format CHECK (((slug)::text ~ '^[a-z0-9-]+$'::text)),
    CONSTRAINT ck_project_year_sane CHECK (((year IS NULL) OR ((year >= 1850) AND (year <= ((EXTRACT(year FROM now()))::integer + 2)))))
);


ALTER TABLE public.project OWNER TO arhea_admin;

--
-- Name: project_i18n; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.project_i18n (
    project_id uuid NOT NULL,
    locale public.language_enum NOT NULL,
    name character varying NOT NULL,
    subname character varying NOT NULL,
    client_name character varying,
    short_description text,
    full_description text,
    search_vector tsvector NOT NULL
);


ALTER TABLE public.project_i18n OWNER TO arhea_admin;

--
-- Name: project_media; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.project_media (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    media_id uuid NOT NULL,
    kind public.project_media_kind NOT NULL,
    order_index integer DEFAULT 0 NOT NULL,
    CONSTRAINT ck_project_media_order_nonneg CHECK ((order_index >= 0))
);


ALTER TABLE public.project_media OWNER TO arhea_admin;

--
-- Name: project_person_role; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.project_person_role (
    project_id uuid NOT NULL,
    person_id uuid NOT NULL,
    role_id uuid NOT NULL,
    order_index integer DEFAULT 0 NOT NULL,
    CONSTRAINT ck_project_person_role_order_nonneg CHECK ((order_index >= 0))
);


ALTER TABLE public.project_person_role OWNER TO arhea_admin;

--
-- Name: project_style; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.project_style (
    id uuid NOT NULL,
    key character varying NOT NULL,
    order_index integer DEFAULT 0 NOT NULL,
    visible boolean DEFAULT true NOT NULL,
    CONSTRAINT ck_project_style_key_slug CHECK (((key)::text ~ '^[a-z0-9_]+$'::text)),
    CONSTRAINT ck_project_style_order_nonneg CHECK ((order_index >= 0))
);


ALTER TABLE public.project_style OWNER TO arhea_admin;

--
-- Name: project_style_i18n; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.project_style_i18n (
    style_id uuid NOT NULL,
    locale public.language_enum NOT NULL,
    title character varying NOT NULL
);


ALTER TABLE public.project_style_i18n OWNER TO arhea_admin;

--
-- Name: project_style_link; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.project_style_link (
    project_id uuid NOT NULL,
    style_id uuid NOT NULL
);


ALTER TABLE public.project_style_link OWNER TO arhea_admin;

--
-- Name: project_type; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.project_type (
    id uuid NOT NULL,
    key character varying NOT NULL,
    order_index integer DEFAULT 0 NOT NULL,
    visible boolean DEFAULT true NOT NULL,
    CONSTRAINT ck_project_type_key_slug CHECK (((key)::text ~ '^[a-z0-9_]+$'::text)),
    CONSTRAINT ck_project_type_order_nonneg CHECK ((order_index >= 0))
);


ALTER TABLE public.project_type OWNER TO arhea_admin;

--
-- Name: project_type_i18n; Type: TABLE; Schema: public; Owner: arhea_admin
--

CREATE TABLE public.project_type_i18n (
    type_id uuid NOT NULL,
    locale public.language_enum NOT NULL,
    title character varying NOT NULL
);


ALTER TABLE public.project_type_i18n OWNER TO arhea_admin;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.alembic_version (version_num) FROM stdin;
9890398339c4
\.


--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.applications (id, career_id, first_name, last_name, email, phone_number, message, status, created_at, updated_at, created_at_date) FROM stdin;
\.


--
-- Data for Name: career; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.career (id, created_at, updated_at, is_published, order_index) FROM stdin;
\.


--
-- Data for Name: career_i18n; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.career_i18n (career_id, locale, title, description) FROM stdin;
\.


--
-- Data for Name: contact_message; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.contact_message (id, name, email, message, source, status, created_at, updated_at, message_hash, created_at_date, processed_at) FROM stdin;
\.


--
-- Data for Name: location; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.location (id, country_code, city_slug, order_index) FROM stdin;
\.


--
-- Data for Name: location_i18n; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.location_i18n (location_id, locale, country, city, order_index) FROM stdin;
\.


--
-- Data for Name: media_asset; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.media_asset (id, file_path, file_name, mime_type, checksum, file_size, width, height, created_at, updated_at, application_id) FROM stdin;
\.


--
-- Data for Name: media_asset_i18n; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.media_asset_i18n (asset_id, locale, alt_text) FROM stdin;
\.


--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.news (id, slug, preview, created_at, updated_at, is_published, published_at) FROM stdin;
\.


--
-- Data for Name: news_i18n; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.news_i18n (news_id, locale, title, short_description, full_description, search_vector) FROM stdin;
\.


--
-- Data for Name: news_media; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.news_media (news_id, media_id, kind, order_index) FROM stdin;
\.


--
-- Data for Name: person; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.person (id, slug, order_index, is_published, photo_media_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: person_i18n; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.person_i18n (person_id, locale, full_name, position_title, bio) FROM stdin;
\.


--
-- Data for Name: person_role; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.person_role (id, key, order_index) FROM stdin;
\.


--
-- Data for Name: person_role_i18n; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.person_role_i18n (person_role_id, locale, title) FROM stdin;
\.


--
-- Data for Name: project; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.project (id, slug, cover_media_id, location_id, type_id, year, completion, area_m2, is_published, published_at, order_index, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: project_i18n; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.project_i18n (project_id, locale, name, subname, client_name, short_description, full_description, search_vector) FROM stdin;
\.


--
-- Data for Name: project_media; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.project_media (id, project_id, media_id, kind, order_index) FROM stdin;
\.


--
-- Data for Name: project_person_role; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.project_person_role (project_id, person_id, role_id, order_index) FROM stdin;
\.


--
-- Data for Name: project_style; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.project_style (id, key, order_index, visible) FROM stdin;
\.


--
-- Data for Name: project_style_i18n; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.project_style_i18n (style_id, locale, title) FROM stdin;
\.


--
-- Data for Name: project_style_link; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.project_style_link (project_id, style_id) FROM stdin;
\.


--
-- Data for Name: project_type; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.project_type (id, key, order_index, visible) FROM stdin;
\.


--
-- Data for Name: project_type_i18n; Type: TABLE DATA; Schema: public; Owner: arhea_admin
--

COPY public.project_type_i18n (type_id, locale, title) FROM stdin;
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: career_i18n career_i18n_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.career_i18n
    ADD CONSTRAINT career_i18n_pkey PRIMARY KEY (career_id, locale);


--
-- Name: career career_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.career
    ADD CONSTRAINT career_pkey PRIMARY KEY (id);


--
-- Name: contact_message contact_message_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.contact_message
    ADD CONSTRAINT contact_message_pkey PRIMARY KEY (id);


--
-- Name: location_i18n location_i18n_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.location_i18n
    ADD CONSTRAINT location_i18n_pkey PRIMARY KEY (location_id, locale);


--
-- Name: location location_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT location_pkey PRIMARY KEY (id);


--
-- Name: media_asset_i18n media_asset_i18n_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.media_asset_i18n
    ADD CONSTRAINT media_asset_i18n_pkey PRIMARY KEY (asset_id, locale);


--
-- Name: media_asset media_asset_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.media_asset
    ADD CONSTRAINT media_asset_pkey PRIMARY KEY (id);


--
-- Name: news_i18n news_i18n_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.news_i18n
    ADD CONSTRAINT news_i18n_pkey PRIMARY KEY (news_id, locale);


--
-- Name: news_media news_media_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.news_media
    ADD CONSTRAINT news_media_pkey PRIMARY KEY (news_id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: person person_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.person
    ADD CONSTRAINT person_pkey PRIMARY KEY (id);


--
-- Name: person_role_i18n person_role_i18n_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.person_role_i18n
    ADD CONSTRAINT person_role_i18n_pkey PRIMARY KEY (person_role_id, locale);


--
-- Name: person_role person_role_key_key; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.person_role
    ADD CONSTRAINT person_role_key_key UNIQUE (key);


--
-- Name: person_role person_role_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.person_role
    ADD CONSTRAINT person_role_pkey PRIMARY KEY (id);


--
-- Name: person person_slug_key; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.person
    ADD CONSTRAINT person_slug_key UNIQUE (slug);


--
-- Name: project_i18n project_i18n_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_i18n
    ADD CONSTRAINT project_i18n_pkey PRIMARY KEY (project_id, locale);


--
-- Name: project_media project_media_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_media
    ADD CONSTRAINT project_media_pkey PRIMARY KEY (id);


--
-- Name: project_person_role project_person_role_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_person_role
    ADD CONSTRAINT project_person_role_pkey PRIMARY KEY (project_id, person_id, role_id);


--
-- Name: project project_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_pkey PRIMARY KEY (id);


--
-- Name: project_style project_style_key_key; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_style
    ADD CONSTRAINT project_style_key_key UNIQUE (key);


--
-- Name: project_style_link project_style_link_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_style_link
    ADD CONSTRAINT project_style_link_pkey PRIMARY KEY (project_id, style_id);


--
-- Name: project_style project_style_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_style
    ADD CONSTRAINT project_style_pkey PRIMARY KEY (id);


--
-- Name: project_type_i18n project_type_i18n_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_type_i18n
    ADD CONSTRAINT project_type_i18n_pkey PRIMARY KEY (type_id, locale);


--
-- Name: project_type project_type_key_key; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_type
    ADD CONSTRAINT project_type_key_key UNIQUE (key);


--
-- Name: project_type project_type_pkey; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_type
    ADD CONSTRAINT project_type_pkey PRIMARY KEY (id);


--
-- Name: applications uq_application_email_per_day; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT uq_application_email_per_day UNIQUE (email, career_id, created_at_date);


--
-- Name: contact_message uq_contact_message_per_day; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.contact_message
    ADD CONSTRAINT uq_contact_message_per_day UNIQUE (email, message_hash, created_at_date);


--
-- Name: location uq_location_country_city_lowercase; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT uq_location_country_city_lowercase UNIQUE (country_code, city_slug_lower);


--
-- Name: news_media uq_news_media_unique; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.news_media
    ADD CONSTRAINT uq_news_media_unique UNIQUE (news_id, media_id, kind);


--
-- Name: person_i18n uq_person_i18n_person_locale; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.person_i18n
    ADD CONSTRAINT uq_person_i18n_person_locale PRIMARY KEY (person_id, locale);


--
-- Name: project_media uq_project_media_unique; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_media
    ADD CONSTRAINT uq_project_media_unique UNIQUE (project_id, media_id, kind);


--
-- Name: project_style_i18n uq_project_style_i18n_style_locale; Type: CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_style_i18n
    ADD CONSTRAINT uq_project_style_i18n_style_locale PRIMARY KEY (style_id, locale);


--
-- Name: ix_application_career; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_application_career ON public.applications USING btree (career_id);


--
-- Name: ix_application_created_at; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_application_created_at ON public.applications USING btree (created_at);


--
-- Name: ix_applications_status; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_applications_status ON public.applications USING btree (status);


--
-- Name: ix_career_i18n_locale; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_career_i18n_locale ON public.career_i18n USING btree (locale);


--
-- Name: ix_career_is_published; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_career_is_published ON public.career USING btree (is_published);


--
-- Name: ix_career_order_index; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_career_order_index ON public.career USING btree (order_index);


--
-- Name: ix_contact_message_created_at_desc; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_contact_message_created_at_desc ON public.contact_message USING btree (created_at DESC);


--
-- Name: ix_contact_message_status; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_contact_message_status ON public.contact_message USING btree (status);


--
-- Name: ix_location_city_slug; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_location_city_slug ON public.location USING btree (city_slug);


--
-- Name: ix_location_country_code; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_location_country_code ON public.location USING btree (country_code);


--
-- Name: ix_location_i18n_locale; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_location_i18n_locale ON public.location_i18n USING btree (locale);


--
-- Name: ix_location_i18n_order_index; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_location_i18n_order_index ON public.location_i18n USING btree (order_index);


--
-- Name: ix_location_order_index; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_location_order_index ON public.location USING btree (order_index);


--
-- Name: ix_media_asset_checksum; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_media_asset_checksum ON public.media_asset USING btree (checksum);


--
-- Name: ix_media_asset_created_at; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_media_asset_created_at ON public.media_asset USING btree (created_at);


--
-- Name: ix_media_asset_i18n_locale; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_media_asset_i18n_locale ON public.media_asset_i18n USING btree (locale);


--
-- Name: ix_media_asset_mime_type; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_media_asset_mime_type ON public.media_asset USING btree (mime_type);


--
-- Name: ix_news_i18n_locale; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_news_i18n_locale ON public.news_i18n USING btree (locale);


--
-- Name: ix_news_i18n_search; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_news_i18n_search ON public.news_i18n USING gin (search_vector);


--
-- Name: ix_news_is_published; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_news_is_published ON public.news USING btree (is_published);


--
-- Name: ix_news_media_kind_order; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_news_media_kind_order ON public.news_media USING btree (news_id, kind, order_index);


--
-- Name: ix_news_published_at; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_news_published_at ON public.news USING btree (published_at);


--
-- Name: ix_news_slug; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE UNIQUE INDEX ix_news_slug ON public.news USING btree (slug);


--
-- Name: ix_person_i18n_locale; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_person_i18n_locale ON public.person_i18n USING btree (locale);


--
-- Name: ix_person_order; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_person_order ON public.person USING btree (order_index);


--
-- Name: ix_person_published; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_person_published ON public.person USING btree (is_published);


--
-- Name: ix_person_role_i18n_locale; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_person_role_i18n_locale ON public.person_role_i18n USING btree (locale);


--
-- Name: ix_person_role_key; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_person_role_key ON public.person_role USING btree (key);


--
-- Name: ix_person_role_order; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_person_role_order ON public.person_role USING btree (order_index);


--
-- Name: ix_person_slug; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_person_slug ON public.person USING btree (slug);


--
-- Name: ix_project_i18n_locale; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_i18n_locale ON public.project_i18n USING btree (locale);


--
-- Name: ix_project_i18n_search; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_i18n_search ON public.project_i18n USING gin (search_vector);


--
-- Name: ix_project_loc_pub_order; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_loc_pub_order ON public.project USING btree (location_id, is_published, order_index DESC);


--
-- Name: ix_project_media_kind_order; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_media_kind_order ON public.project_media USING btree (project_id, kind, order_index);


--
-- Name: ix_project_media_media; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_media_media ON public.project_media USING btree (media_id);


--
-- Name: ix_project_person_role_order; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_person_role_order ON public.project_person_role USING btree (project_id, role_id, order_index);


--
-- Name: ix_project_person_role_person; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_person_role_person ON public.project_person_role USING btree (person_id);


--
-- Name: ix_project_pub_published_at_desc; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_pub_published_at_desc ON public.project USING btree (is_published, published_at DESC);


--
-- Name: ix_project_slug; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE UNIQUE INDEX ix_project_slug ON public.project USING btree (slug);


--
-- Name: ix_project_style_i18n_locale; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_style_i18n_locale ON public.project_style_i18n USING btree (locale);


--
-- Name: ix_project_style_key; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_style_key ON public.project_style USING btree (key);


--
-- Name: ix_project_style_link_project; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_style_link_project ON public.project_style_link USING btree (project_id);


--
-- Name: ix_project_style_link_project_order; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_style_link_project_order ON public.project_style_link USING btree (project_id, style_id);


--
-- Name: ix_project_style_link_style; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_style_link_style ON public.project_style_link USING btree (style_id);


--
-- Name: ix_project_style_visible; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_style_visible ON public.project_style USING btree (visible);


--
-- Name: ix_project_type_i18n_locale; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_type_i18n_locale ON public.project_type_i18n USING btree (locale);


--
-- Name: ix_project_type_key; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_type_key ON public.project_type USING btree (key);


--
-- Name: ix_project_type_loc_pub_order; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_type_loc_pub_order ON public.project USING btree (type_id, location_id, is_published, order_index DESC);


--
-- Name: ix_project_type_pub_order; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_type_pub_order ON public.project USING btree (type_id, is_published, order_index DESC);


--
-- Name: ix_project_type_visible; Type: INDEX; Schema: public; Owner: arhea_admin
--

CREATE INDEX ix_project_type_visible ON public.project_type USING btree (visible);


--
-- Name: applications applications_career_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_career_id_fkey FOREIGN KEY (career_id) REFERENCES public.career(id) ON DELETE CASCADE;


--
-- Name: career_i18n career_i18n_career_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.career_i18n
    ADD CONSTRAINT career_i18n_career_id_fkey FOREIGN KEY (career_id) REFERENCES public.career(id) ON DELETE CASCADE;


--
-- Name: location_i18n location_i18n_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.location_i18n
    ADD CONSTRAINT location_i18n_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.location(id) ON DELETE CASCADE;


--
-- Name: media_asset media_asset_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.media_asset
    ADD CONSTRAINT media_asset_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.applications(id) ON DELETE CASCADE;


--
-- Name: media_asset_i18n media_asset_i18n_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.media_asset_i18n
    ADD CONSTRAINT media_asset_i18n_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.media_asset(id) ON DELETE CASCADE;


--
-- Name: news_i18n news_i18n_news_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.news_i18n
    ADD CONSTRAINT news_i18n_news_id_fkey FOREIGN KEY (news_id) REFERENCES public.news(id) ON DELETE CASCADE;


--
-- Name: news_media news_media_media_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.news_media
    ADD CONSTRAINT news_media_media_id_fkey FOREIGN KEY (media_id) REFERENCES public.media_asset(id) ON DELETE RESTRICT;


--
-- Name: news_media news_media_news_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.news_media
    ADD CONSTRAINT news_media_news_id_fkey FOREIGN KEY (news_id) REFERENCES public.news(id) ON DELETE CASCADE;


--
-- Name: person_i18n person_i18n_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.person_i18n
    ADD CONSTRAINT person_i18n_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.person(id) ON DELETE CASCADE;


--
-- Name: person person_photo_media_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.person
    ADD CONSTRAINT person_photo_media_id_fkey FOREIGN KEY (photo_media_id) REFERENCES public.media_asset(id) ON DELETE SET NULL;


--
-- Name: person_role_i18n person_role_i18n_person_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.person_role_i18n
    ADD CONSTRAINT person_role_i18n_person_role_id_fkey FOREIGN KEY (person_role_id) REFERENCES public.person_role(id) ON DELETE CASCADE;


--
-- Name: project project_cover_media_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_cover_media_id_fkey FOREIGN KEY (cover_media_id) REFERENCES public.media_asset(id) ON DELETE SET NULL;


--
-- Name: project_i18n project_i18n_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_i18n
    ADD CONSTRAINT project_i18n_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.project(id) ON DELETE CASCADE;


--
-- Name: project project_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.location(id) ON DELETE SET NULL;


--
-- Name: project_media project_media_media_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_media
    ADD CONSTRAINT project_media_media_id_fkey FOREIGN KEY (media_id) REFERENCES public.media_asset(id) ON DELETE RESTRICT;


--
-- Name: project_media project_media_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_media
    ADD CONSTRAINT project_media_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.project(id) ON DELETE CASCADE;


--
-- Name: project_person_role project_person_role_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_person_role
    ADD CONSTRAINT project_person_role_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.person(id) ON DELETE CASCADE;


--
-- Name: project_person_role project_person_role_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_person_role
    ADD CONSTRAINT project_person_role_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.project(id) ON DELETE CASCADE;


--
-- Name: project_person_role project_person_role_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_person_role
    ADD CONSTRAINT project_person_role_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.person_role(id) ON DELETE RESTRICT;


--
-- Name: project_style_i18n project_style_i18n_style_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_style_i18n
    ADD CONSTRAINT project_style_i18n_style_id_fkey FOREIGN KEY (style_id) REFERENCES public.project_style(id) ON DELETE CASCADE;


--
-- Name: project_style_link project_style_link_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_style_link
    ADD CONSTRAINT project_style_link_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.project(id) ON DELETE CASCADE;


--
-- Name: project_style_link project_style_link_style_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_style_link
    ADD CONSTRAINT project_style_link_style_id_fkey FOREIGN KEY (style_id) REFERENCES public.project_style(id) ON DELETE RESTRICT;


--
-- Name: project_type_i18n project_type_i18n_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project_type_i18n
    ADD CONSTRAINT project_type_i18n_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.project_type(id) ON DELETE CASCADE;


--
-- Name: project project_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: arhea_admin
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.project_type(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict QwM2opJ2wMWZlE6z69b5Yt7WQ4a519kzG6oMJEqObAyfd1sTao6JWaXkYd6tZCT

